# -*- yaml -*-
# vim:set ts=2 sw=2 et:
---
image: $PYTHON_IMAGE

include:
  # - component: $CI_SERVER_FQDN/sdn/cicd-components/ansible-lint@~latest
  #   inputs:
  #     stage: lint
  - component: $CI_SERVER_FQDN/sdn/cicd-components/j2lint@~latest
    inputs:
      stage: lint
  - component: $CI_SERVER_FQDN/sdn/cicd-components/yamllint@~latest
    inputs:
      stage: lint
  - component: $CI_SERVER_FQDN/sdn/cicd-components/semgrep@~latest
    inputs:
      stage: lint
      semgrep_rules: >-
        p/default
        p/python

stages:
  - lint

variables:
  CACHE_DIR: $CI_PROJECT_DIR/.cache
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"


.lint:
  stage: lint
  before_script:
    - chmod 755 $CI_PROJECT_DIR
    - uv --version
    - uv sync --frozen --all-extras
  after_script: []
  variables:
    LANG: C
  cache:
    paths:
      - .cache
      - .venv
  tags: [x86_64]


ansible-lint:
  extends: .lint
  # allow_failure: true
  script:
    - >-
      uv run ansible-lint --show-relpath --parseable --nocolor |
      uv run ansible-lint-junit -o ansible-lint.xml
  artifacts:
    when: always
    reports:
      junit: ansible-lint.xml


pytest:
  extends: .lint
  # allow_failure: true
  script:
    - uv run pytest -v --junitxml=pytest-report.xml ./tests
  artifacts:
    when: always
    reports:
      junit: pytest-report.xml


mypy:
  extends: .lint
  after_script:
    - "[ -f 'coverage/index.txt' ] && cat coverage/index.txt"
  script:
    - uv run mypy --ignore-missing-imports --follow-imports skip --txt-report coverage --cobertura-xml-report coverage -p plugins
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura.xml


lint-collection-docs:
  extends: .lint
  script:
    - >-
      uv run antsibull-docs lint-collection-docs --plugin-docs --skip-rstcheck
      --validate-collection-refs=all --disallow-unknown-collection-refs
      .
